/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

table {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  width: 50%;
}

.DivForm{
  margin: auto;
  margin-top: 5%;
  width: fit-content;
}

app-control-messages div {
  color: #E82C0C;
  margin: 6px 0;
}

button {
  margin-top: 4px;
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 300;
}

button[disabled] {
  background-color: #337ab7;
  border-color: #2e6da4;
  opacity: .65;
  cursor: not-allowed;
}
